*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: rgb(187, 226, 187);
}

header {
  width: 75vw;
  height: 20vh;
  background-color: rgb(38, 198, 38);
  margin: 20px auto;
  text-align: center;
  padding-top: 30px;
  color: rgb(1, 67, 1);
  line-height: 1.3;
  letter-spacing: 2px;
  word-spacing: 4px;
  font-size: 2rem;
  border-radius: 100px;
}

main {
  width: 75vw;
  min-height: 80vh;
  margin: 20px auto;
}

.products-container {
  width: 75vw;
  margin: 10px auto;
  padding: 50px;
  background-color: rgb(46, 148, 46);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  border-radius: 30px;
}

.each-prod {
  background-color: rgb(125, 194, 125);
  border-radius: 30px;
  text-align: center;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.each-prod:hover {
  transform: scale(1.09);
  transition: transform 0.3s ease-in-out;
}

.each-prod:hover .del-prod-btn {
  visibility: visible;
}

.del-prod-btn {
  width: max-content;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  visibility: hidden;
  transition: transform 0.6s ease-in-out;
  color: greenyellow;
}

.del-prod-btn::before {
  content: "Delete this item";
  font-size: 0.7rem;
  position: absolute;
  top: 30px;
  left: -20px;
  display: none;
  background-color: rgb(4, 74, 4);
  padding: 5px;
  width: 100px;
  letter-spacing: 1px;
  border: 1px solid yellowgreen;
}

.del-prod-btn:hover {
  transform: scale(1.5);
}

.del-prod-btn:hover::before {
  display: block;
}

.prod-title {
  font-size: 2rem;
  margin: 1rem;
  padding: 0.5rem;
  color: rgb(1, 49, 1);
}

.prod-categories {
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.prod-description {
  font-size: 1.8rem;
  padding: 1rem;
}

.prod-price {
  color: rgb(13, 87, 13);
  font-size: 2.5rem;
  margin-top: 1.5rem;
}

.prod-image {
  display: block;
  margin: 3rem auto;
  border-radius: 50%;
  width: 100px;
}

.buy-now-btn {
  display: block;
  margin: 20px 0;
  padding: 20px 0;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(3, 63, 3);
  color: rgb(5, 255, 5);
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 4px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.buy-now-btn:hover {
  background-color: rgb(5, 255, 5);
  color: rgb(3, 63, 3);
}

.buy-now-btn:active {
  transform: scale(0.9);
}

.toggle-form-btn {
  display: block;
  width: 25vw;
  height: 100px;
  border: none;
  outline: none;
  background-color: rgb(12, 72, 12);
  color: greenyellow;
  margin: 100px auto;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  word-spacing: 9px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.toggle-form-btn:hover {
  background-color: greenyellow;
  color: rgb(12, 72, 12);
  box-shadow: 0 3px 3px 3px green;
}

.toggle-form-btn:active {
  transform: scale(0.95);
  box-shadow: none;
}

.not-showing {
  display: none;
}

.showing {
  display: block;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#form h2 {
  font-size: 2rem;
}

#form input {
  display: block;
  margin: 0.5rem auto;
  font-size: 1.5rem;
  width: 60vw;
  height: 60px;
  border: none;
  outline: none;
  background-color: rgb(187, 226, 187);
  border-bottom: 2px solid rgb(99, 153, 99);
}

.add-new-prod-btn {
  width: 20vw;
  margin: 4rem auto;
  padding: 2rem 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 100px;
  background-color: rgb(4, 50, 4);
  color: rgb(47, 235, 47);
}

.add-new-prod-btn:hover {
  background-color: rgb(47, 235, 47);
  color: rgb(4, 50, 4);
  box-shadow: 0 2px 3px 3px rgba(7, 80, 7, 0.5);
}

.add-new-prod-btn:active {
  transform: scale(0.95);
  box-shadow: none;
}
